    * {
        background-image: url('bg.jpg');
        opacity: 0.85;
        background-position: right top;
        background-size: cover;
        background-attachment: fixed;
    }
    
    h1,
    h3 {
        color: white;
    }
    
    #paragraph {
        text-align: center;
        color: pink;
        border: 2px solid darkgoldenrod;
    }
    
    .section {
        text-align: right;
        color: aquamarine;
    }
    
    p.section {
        color: lightskyblue;
    }
    /*this is a comment in css*/
    
    .large {
        font-size: 200%;
    }