.solid {
    border-style: solid;
    border-color: blue;
}

.dashed {
    border-style: dashed;
    border-color: green;
}

.dotted {
    border-style: dotted;
    border-color: maroon;
}

.double {
    border-style: double;
    border-color: rgb(250, 17, 153);
}

.goove {
    border-style: groove;
    border-color: rgb(179, 99, 7);
}

.ridge {
    border-style: ridge;
    border-color: rgb(17, 157, 250);
}

.mixed {
    border-style: dotted dashed solid double;
    border-color: rgb(250, 149, 17);
}

.inset {
    border-style: inset;
    border-color: rgb(250, 246, 17);
}