    * {
        background-color: indigo;
        opacity: 0.85;
    }
    
    h1,
    h3 {
        color: burlywood;
    }
    
    #paragraph {
        text-align: center;
        border: 2px solid darkgoldenrod;
    }
    
    .section {
        text-align: right;
        color: aquamarine;
    }
    
    p.section {
        color: lightskyblue;
    }
    /*this is a comment in css*/
    
    .large {
        font-size: 200%;
    }