.solid {
    border-style: solid;
    border-color: blue;
}

.dashed {
    border-style: dashed;
    border-color: green;
}

.dotted {
    border-style: dotted;
    border-color: maroon;
}

.double {
    border-style: double;
    border-color: rgb(250, 17, 153);
}