body {
    background-color: pink;
}


/* Element Selector */

h1 {
    color: indigo;
    margin-left: 40px;
}


/* Class Selector */

.sections {
    color: seagreen;
    margin-left: 40px;
}


/* ID Selector */

#sometext {
    color: darkred;
    margin-left: 40px;
}